# Python Virtual Environments
venv/
env/
.env
.venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Ultralytics / YOLOv8 caches
runs/
